# ----
# Site

title: TransomJS
description: Uncompromising RAPID API Development on Node
url: https://transomjs.github.io
google_analytics_key:
permalink: pretty
baseurl: https://transomjs.github.io

collections:
  gettingstarted:
    title: Getting Started
    position: 1
  documentation:
    title: Documentation
    position: 2
  api:
    title: APIs
    position: 33
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

exclude:
  - readme.md
  - LICENSE

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      type: "documentation"
    values:
      _hide_content: true
  -
    scope:
      type: "api"
    values:
      _hide_content: true

types:
  - get
  - put
  - delete
  - post

languages:
  bash: Bash
  c: C
  css: CSS
  html: HTML
  java: Java
  javascript: JavaScript
  json: JSON
  php: PHP
  python: Python
  ruby: Ruby

_options:
  content_markdown:
    format: p h4 h5 h6
    bold: true
    italic: true
    link: true
    bulletedlist: true
    numberedlist: true
    image: true
    table: true
    styles: /css/editor.css
